/* Estilos generales */
.playfair-display-hero {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/* Estilos de secciones */
.section {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: calc(10vh + 80px); /* Altura de la barra de navegación más 5vh */
  padding-bottom: 5vh;
}

/* Estilos de encabezado */
header {
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.logo-container {
  width: 100px; /* Ancho deseado */
  height: auto; /* Altura ajustada automáticamente */
  margin-right: auto; /* Margen derecho automático para alinear a la izquierda */
}

.logo-container img {
  display: block; /* Asegurar que la imagen sea un elemento de bloque */
  width: 100%; /* Ocupar todo el ancho disponible del contenedor */
  height: 80px; /* Altura ajustada automáticamente */
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  font-weight: 900;
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: 18px;

}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(200, 41, 41);
  transition: 0.3s;
}

/* Estilos del cuerpo */
.hero-container {
  display: flex;
  flex-direction: column;
  /*background: rgb(16,21,57);*/
  background: rgb(255, 252, 249);
  /*background: radial-gradient(circle, rgba(16,21,57,1) 3%, rgba(11,13,30,1) 100%);*/
  color: rgb(31, 30, 30);
  height: 100vh;
  margin-top: 80px;
}

.about-container {
  display: flex;
  flex-direction: column;
  height: auto;
  color: #be8039;
  background: rgb(255, 252, 249);
  color: rgb(70, 60, 60);
 align-items: center;
}

.about-container h2 {
  text-align: center;
}

.about-container p {
  max-width: 60%;
}

.about-container img {
  max-width: 60%;
  margin-top: 20px;
  border: solid 1px;
  border-radius: 8px;
}

.recomendaciones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.servicios-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  max-width: 90%;
  background-color: #f1f9ff;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255);
  border: 1px solid rgba(1, 1, 1, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.servicios-title {
  text-align: center;
}

.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Estilos de texto */
.mi-nombre {
  /*color: #f69a3e;*/
  color: #362e2e;
  font-size: 3.157rem;
  margin-bottom: 16px;
}

h1 {
  font-size: 4.61rem;
  line-height: 1;
  margin-bottom: 24px;
  color: black;
}

h2 {
  font-size: 2.369rem;
  line-height: 1;
  margin-bottom: 24px;
}

h3 {
  font-size: 1.777rem;
  margin-bottom: 24px;
}

p {
  font-size: 1.5rem;
}

#about a,
.mailto {
  color: #000000;
  text-decoration: none;
}

.contacto-container p {
  margin-top: 5vh;
  text-align: center;
  max-width: 600px;
}

/* Estilos de botones */
button {
  background: #2f2f2f;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  max-width: 200px;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  
}

button:hover {
  background: rgb(68, 66, 66);
  color: rgb(255, 255, 255);
}

/* Estilos de animación */
@keyframes slide-in-right {
  from {
    transform: translateX(25%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-25%);
  }

  to {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation-name: slide-in-left;
}

.slide-in-right {
  animation-name: slide-in-right;
}

/* Estilos específicos de secciones */
#english,
#japanese,
#portuguese,
#spanish {
  transition: color 0.3s ease-in; /* Transición suave de color */
  /*color: rgb(159, 82, 82); /* Color original del texto */
  color: rgb(200, 41, 41); /* Color original del texto */
}

#english.hover,
#japanese.hover,
#portuguese.hover,
#spanish.hover {
  color: #010101; /* Color al pasar el mouse */
}

.botones-recomendacion {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.contenedor-cita {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 32px 94px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 32px 94px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 32px 94px -8px rgba(0, 0, 0, 0.75);
  background-color: rgb(196, 192, 192);
  color: rgb(0, 0, 0);
}

.cita {
  margin-top: 8vh;
  margin-bottom: 8vh;
  max-width: 600px;
  height: 10vh;
}

.cita p {
  animation-duration: 0.1s; /* Adjust the animation duration as needed */
}

.about-me svg {
  margin-left: 5px;
}

footer {
  display: flex; /* Usa flexbox para alinear los elementos en la misma línea */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: space-around;
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 18px;
}

.contact-info {
  margin-right: 20px; /* Añade un espacio entre cada línea de información de contacto */
}

footer img {
  width: 30px; /* Ajusta el tamaño del icono según sea necesario */
}
