nav {
  margin-bottom: 20px;
  z-index: 1000;
}

.navbar-toggler {
  margin-left: 2vw;
}

nav ul {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.2rem;
}

nav button {
  margin-right: 2vw

}

body {
  padding-top: 80px;
  color: rgb(175, 85, 85); /* Color inicial del texto */
  background-color: #333333; /* Color inicial de fondo */
  transition: background-color 0.5s ease, color 0.5s ease;
}


.hero {
  padding-top: 180px;
  min-height: 100vh;
  color: rgb(246, 122, 50);
  text-shadow: rgb(50, 48, 48) 3px 0 10px;
}

.about {
  padding-top: 100px;
  min-height: 100vh;

}


#about {
  max-width: 800px;
  background-color: #f89a28;
  padding-left: 90px;
  padding-right: 20px;
}

#acerca-de {
  font-size: 3rem;
}

#servicios-a {
  margin-bottom: 40px;
}

.services {
  padding-top: 100px;
  min-height: 100vh;
}

.card-img-top {
  width: 100%;
  height: 200px; /* Establece la altura deseada */
  object-fit: cover; /* Mantiene la proporción y recorta la imagen si es necesario */
  filter: brightness(95%);
}

.card-group {
  margin-top: 24px;
}

.recommendations {
  padding-top: 100px;
  min-height: 100vh;
  text-align: center;
}

.cita p {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 8vw;
  padding-bottom: 8vw;
  text-align: center;
  font-size: 1.5rem;
}

.cotizacion-button-container {
  margin-top: 20px;
}

.contact {
  padding-top: 80px;
  min-height: 85vh;
}

footer {
  display: flex;
  justify-content: center;
  height: 15vh;
}

#english.hover,
#japanese.hover,
#portuguese.hover,
#spanish.hover {
  color: #fffdfd;
}

#english,
#japanese,
#portuguese,
#spanish {
  transition: color 0.3s ease-in;
  /* color: rgb(200, 41, 41); */
  color: #ada7a7;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(3px) brightness(50%) saturate(10%);
}

.playfair-display-hero {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

#servicios {
  max-width: 800px; /* Ajusta este valor según tus preferencias */
}

@media (max-width: 850px) {
  .background-video {
    display: none;
  }

  .hero {
    padding-top: 60px;
    min-height: 100vh;
    color: rgb(0, 0, 0);
    text-shadow: rgb(198, 192, 192) 3px 0 10px;
  }

  #english,
  #japanese,
  #portuguese,
  #spanish {
    transition: color 0.3s ease-in;
    /* color: rgb(200, 41, 41); */
    color: #b27036;
  }
  #english.hover,
  #japanese.hover,
  #portuguese.hover,
  #spanish.hover {
  color: #424242;
}
}



